<h3><%= @job.title %></h3>

<p><%= link_to '查看原文', @job.url %></p>

<p>发布于：<%= @job.published_at.strftime("%Y-%m-%d %H:%M:%S") %></p>

<% (@job.content || "").split("\n").each do |content| %>
  <p><%= content %></p>
<% end %>